
:root {
  --cor-primaria: #151320;
  --cor-sucesso: #00bf8e;
  --cor-alerta: #f7c94b;
  --cor-perigo: #f75842;
  --cor-perigo-variante: rgba(247, 88, 66, 0.4);
  --cor-branco: #fff;
  --cor-clara: rgba(255, 255, 255, 0.7);
  --cor-escura: #000;
  --cor-bg: #1f2641;
  --cor-bg1: #2e3267;
  --cor-bg2: #424890;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
    
}

* {
    margin: 0;
    padding: 0;
    border: 0; 
    outline: 0;          
    box-sizing: border-box;       
  }
  
  
  body {    
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    background: var(--cor-bg);    
    background-image: url(../img/bg-texture.png);
  }

  .carta-imagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    cursor: pointer;
    /* -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); */
  }

  .animacao-carta {
    position: absolute;
    height: 150px;
    width: 200px;
    transition: 0.5s;
  }

  .animacao-carta .corpo-carta {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent #c39a0c transparent;
    z-index: 2;
  }

  .animacao-carta .dobra-acima {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    transform-origin: 50% 0%;
    transition: 0.5s 0.5s, z-index 0.2s 0.5s;
    border-color: #cfb043 transparent transparent transparent;
    z-index: 2;
  }

  .animacao-carta .dobra-tras {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #cfb043;
    z-index: 0;
  }

  .animacao-carta .dobra-esquerda {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0px 50px 100px;
    border-color: transparent transparent transparent #c9a00e;
    z-index: 2;
  }

  .animacao-carta .carta {   
    left: 20px;
    bottom: 0px;
    position: absolute;
    width: 160px;
    height: 60px;
    background: rgb(255, 255, 255);
    z-index: 1;
    overflow: hidden ;
    transition: 0.4s 0.2s;
  }

  .animacao-carta .carta .carta-borda {
    height: 10px;
    width: 100%;
    background: repeating-linear-gradient(-45deg, #cb5a5e, #cb5a5e, 8px, transparent 8px, transparent 18px);    
  }

  .animacao-carta .carta .carta-titulo {
    margin-top: 10px;
    margin-left: 5px;
    height: 10px;
    width: 40%;
    background: #cb5a5e;
  }

  .animacao-carta .carta .carta-selo {
    margin-top: 30px;
    margin-left: 120px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background: #cb5a5e;
    opacity: 0.3;
  }

  .sombra {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 400px;
    height: 30px;
    transition: 0.4s;
    transform: translateX(-50%);
    border-radius: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }

  .carta-imagem:hover .animacao-carta {
    transform: translateY(50px);
   
  }
  .carta-imagem:hover .animacao-carta .dobra-acima {
    transition: transform 0.4s, z-index 0.2s;
    transform: rotateX(180deg);
    z-index: 0;
  }
  .carta-imagem:hover .animacao-carta .carta {
    height: 180px;
  }
  .carta-imagem:hover .sombra {
    width: 250px;
  }
